body {
    margin: 0px;
    text-align: center;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'sacramento', sans-serif;
    font-size: 90px;
    color: #66BFBF;
}

h2 {
    font-family: 'veredana', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3,
a {
    color: #11999E;
}

p {
    font-family: cursive;
    font-size: 20px;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
}

/* ******************CLASS SELECTORS**************** */
.top-container {
    background-color: #d5f0f6;
    position: relative;
    padding-top: 100px;
}

.bottom-cloud {
    position: absolute;
    left: 450px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 450px;
    top: 50px;
}

/* .middle-container {
    
}

 */

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.codm {
    width: 40%;
    float: right;
    margin-left: 30px;
}

.code {
    float: left;
    margin-right: 30px;
}

.btn {
    line-height: 4;
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 14;
    -moz-border-radius: 14;
    border-radius: 14px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 36px;
    padding: 9px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.bottom-container {
    background-color: #11cdd4;
    border: solid 1px #11cdd4;
    line-height: 4;
    margin-top: 50px;
    border-top-width: 30px;
}

.footer-link {
    margin: auto 200px auto auto;
    font-style: oblique;
}

.hell {
    color: white
}